.ant-table-thead>tr>th{
    text-align: center !important;
    background: #fff !important;
}
.ant-table-row>td{
    text-align: center;
}
.ant-table-pagination{
    margin-right: 118px !important;
    margin-top: 250px !important;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 0px 8px !important;
    height: 35px;
}